<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>本人的学习资料</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet/less" href="css/index.less">
</head>

<body>
    <div id="app">



        <div class="list">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">添加人物</h3>
                </div>
                <div class="panel-body form-inline">
                    序号:
                    <input type="text" name="id" class="form-control input" v-model="userid"> 名字:
                    <input type="text" name="name" class="form-control input" v-model="username"> 年龄:
                    <input type="text" name="age" class="form-control input" v-model="userage">
                    <button type="button" class="btn btn-primary" @click="add">添加</button>

                </div>
            </div>


            <table class="table table-hover table-striped table-bordered">
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>名字</th>
                        <th>年龄</th>
                        <th>时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in userlist" ::key="item.id">
                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.age}}</td>
                        <td>{{item.time}}</td>
                        <td>
                            <button type="button" class="btn btn-danger btn-sm" @click="del(item.id)">删除</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</body>
<script src="https://cdn.bootcss.com/vue/2.6.6/vue.js"></script>
<script src="https://cdn.bootcss.com/less.js/3.9.0/less.js"></script>
<script src="js/index.js"></script>

</html>